In [1]:
from codebase.load_data.gluonts import GluontsDataset
from codebase.load_data.m3 import M3Dataset
from codebase.load_data.tourism import TourismDataset

import pandas as pd

['constant',
 'exchange_rate',
 'solar-energy',
 'electricity',
 'traffic',
 'exchange_rate_nips',
 'electricity_nips',
 'traffic_nips',
 'solar_nips',
 'wiki2000_nips',
 'wiki-rolling_nips',
 'taxi_30min',
 'kaggle_web_traffic_with_missing',
 'kaggle_web_traffic_without_missing',
 'kaggle_web_traffic_weekly',
 'm1_yearly',
 'm1_quarterly',
 'm1_monthly',
 'nn5_daily_with_missing',
 'nn5_daily_without_missing',
 'nn5_weekly',
 'tourism_monthly',
 'tourism_quarterly',
 'tourism_yearly',
 'cif_2016',
 'london_smart_meters_without_missing',
 'wind_farms_without_missing',
 'car_parts_without_missing',
 'dominick',
 'fred_md',
 'pedestrian_counts',
 'hospital',
 'covid_deaths',
 'kdd_cup_2018_without_missing',
 'weather',
 'm3_monthly',
 'm3_quarterly',
 'm3_yearly',
 'm3_other',
 'm4_hourly',
 'm4_daily',
 'm4_weekly',
 'm4_monthly',
 'm4_quarterly',
 'm4_yearly',
 'm5',
 'uber_tlc_daily',
 'uber_tlc_hourly',
 'airpassengers',
 'australian_electricity_demand',
 'electricity_hourly',
 'electricity_weekly',
 'rideshare_without_missing',
 'saugeenday',
 'solar_10_minutes',
 'solar_weekly',
 'sunspot_without_missing',
 'temperature_rain_without_missing',
 'vehicle_trips_without_missing',
 'ercot',
 'ett_small_15min',
 'ett_small_1h']

/home/tonicardoso/anaconda3/envs/investigacao/lib/python3.11/site-packages/gluonts/json.py:102: UserWarning: Using `json`-module for json-handling. Consider installing one of `orjson`, `ujson` to speed up serialization and deserialization.
  warnings.warn(

In [2]:
df = GluontsDataset.load_data("car_parts_without_missing")

INFO:root:downloading and processing car_parts_without_missing
Download car_parts_dataset_without_missing_values.zip:: 40.0kB [00:00, 61.2kB/s]
/home/tonicardoso/anaconda3/envs/investigacao/lib/python3.11/site-packages/gluonts/dataset/repository/_tsf_datasets.py:290: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  freq = to_offset(freq).name
creating json files: 100%|██████████| 2674/2674 [00:00<00:00, 107541.10it/s]

In [3]:
df

       unique_id         ds    y
0            ID0 1998-01-31  0.0
1            ID0 1998-02-28  0.0
2            ID0 1998-03-31  0.0
3            ID0 1998-04-30  0.0
4            ID0 1998-05-31  0.0
...          ...        ...  ...
104281    ID2673 2000-11-30  2.0
104282    ID2673 2000-12-31  0.0
104283    ID2673 2001-01-31  2.0
104284    ID2673 2001-02-28  3.0
104285    ID2673 2001-03-31  0.0

[104286 rows x 3 columns]

In [5]:
small = 1000000000
large = -1000000000

for i in range(0, df['unique_id'].nunique()):
    small = min(small, len(df[df['unique_id']==f"ID{i}"]))
    large = max(large, len(df[df['unique_id']==f"ID{i}"]))

print(small, large)

39 39